<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>
  <body>
    <div class="flex flex-col items-center py-10">
      <form class="flex mb-5" id="item-form">
        <div class="field mr-3">
          <label class="label">상품 이름</label>
          <div class="control">
            <input id="name" class="input" type="text" />
          </div>
        </div>
        <div class="field">
          <label class="label">수량</label>
          <div class="control flex">
            <input id="quantity" class="input mr-3" type="number" />
            <input
              class="button is-success font-bold"
              type="submit"
              text="생성"
            />
          </div>
        </div>
      </form>
      <table class="table text-xl">
        <thead>
          <tr>
            <th>상품 이름</th>
            <th>수량</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>바나나</td>
            <td>6</td>
            <th>
              <button class="delete is-medium mt-0.5" onclick="temp()"></button>
            </th>
          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>

    <script>
      const form = document.getElementById("item-form")
      form.addEventListener("submit", async (e) => {
        e.preventDefault()
        const name = document.getElementById("name").value
        const quantity = document.getElementById("quantity").value
        if (name == "" || quantity == "") {
          alert("상품 이름과 수량을 입력하세요")
        } else {
          const {
            data: {
              error: { message },
            },
          } = await axios.post("/items", { name, quantity })
          if (message) {
            alert(message)
          }
        }
      })
    </script>
  </body>
</html>
